.fondo {
    text-align: center;
    background-image: url(../img/fondo.png);
    background-size:cover ;
    background-repeat: no-repeat;
    background-position: 100%;
    background-attachment: fixed; 
  }
